/* Contenedor principal */
.mainContainer {
  padding: 2rem;
}

/* Botones en fila */
.buttonsContainer {
  display: flex;
  justify-content: space-around;
  gap: 1rem;
  margin-bottom: 2rem;
}

/* Botón de sección */
.sectionToggle {
  cursor: pointer;
  padding: 1rem;
  text-align: center;
  border: 4px solid #a8c6e7;
  border-radius: 8px;
  transition: background-color 0.3s, border-color 0.3s;
  flex: 1;
  max-width: 200px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.titleSectionToggle {
  font-weight: bold;
}

.icon {
  margin-left: 5px;
  font-size: 1.5em;
}

.sectionToggle:hover {
  background-color: #e4ccef;
  border: 4px solid #e4ccef;
}

.sectionToggle.active {
  background-color: #d3a4d3;
  border-color: #a86ca6;
}

/* Contenedores dinámicos */
.videosContainer,
.podcastsContainer {
  display: flex;
  flex-wrap: wrap; /* Permite que los elementos salten a la siguiente fila */
  gap: 1.5rem; /* Espaciado entre los elementos */
  justify-content: center; /* Centra las filas horizontalmente */
  margin-top: 1rem;
}

/* Elementos de video */
.videos,
.podcast {
  display: flex; /* Alineación horizontal del contenido */
  flex-direction: row; /* Coloca imagen y texto en fila */
  align-items: center; /* Alinea verticalmente los elementos */
  gap: 1rem;
  background-color: #f5f5dc;
  border-radius: 8px;
  padding: 1.5rem;
  text-align: left; /* Alinea el texto a la izquierda */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  flex: 1 1 calc(50% - 1rem); /* Ocupa el 50% del ancho (2 por fila) */
  max-width: 450px; /* Ancho máximo para mantener el diseño */
}

/* Hover para los elementos de video y podcast */
.videos:hover,
.podcast:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Imagen dentro de los elementos */
.imageVideos {
  flex: 0 0 auto; /* Evita que la imagen cambie de tamaño */
  width: 130px;
  height: 120px;
  border-radius: 8px; /* Bordes redondeados */
  object-fit: fill; /* Asegura que la imagen mantenga sus proporciones */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.imagePodcasts {
  flex: 0 0 auto; /* Evita que la imagen cambie de tamaño */
  width: 100px;
  height: 100px;
  border-radius: 8px; /* Bordes redondeados */
  object-fit: cover; /* Asegura que la imagen mantenga sus proporciones */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Contenido textual dentro de los elementos */
.textContent {
  display: flex;
  flex-direction: column; /* El texto y los enlaces se organizan en columna */
  flex: 1; /* Toma el espacio restante del contenedor */
  gap: 0.5rem; /* Espaciado entre el título, descripción y enlace */
}

.title {
  font-size: 1.2rem;
  color: #444;
  margin-bottom: 0.5rem;
}

.description {
  font-size: 1rem;
  color: #555;
}

.linkVideo,
.linkPodcast {
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
  cursor: pointer;
  display: flex;
  justify-content: center;
}

.linkVideo:hover {
  color: #ff0000;
}
.linkPodcast:hover {
  color: #00d74b;
}

.videosIcon,
.spotifyIcon {
  font-size: 1.2em;
}
