/* Clases Genéricas */
.layoutBox {
  max-inline-size: 1235px;
  margin-inline: auto;
  padding: 0 1rem;
}

/* Estilos sección de vídeos y podcasts */
.videosSection,
.podcastsSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
  text-align: center;
}

.heading {
  font-size: 2rem;
  color: #333;
  font-weight: bold;
  border-bottom: 2px solid #e4ccef;
  display: inline-block;
  padding-bottom: 0.5rem;
  margin-bottom: 2rem;
}

/* Contenedor de videos - 2 por fila */
.videosContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* Espaciado uniforme */
  gap: 2rem; /* Espaciado entre elementos */
  width: 100%;
  max-width: 900px;
}

.videos {
  flex: 1 1 calc(50% - 1rem); /* Ajusta para que entren 2 elementos con un margen */
  padding: 1.5rem;
  background-color: #e2c1c1;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  min-height: 150px;
  cursor: pointer;
}

/* Contenedor de podcasts - 2 por fila */
.podcastsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* Espaciado uniforme */
  gap: 1rem; /* Espaciado entre elementos */
  width: 100%;
  max-width: 900px; /* Igualado al contenedor de videos */
}

.podcast {
  flex: 1 1 calc(50% - 1rem); /* Ajusta para que entren 2 elementos con un margen */
  padding: 1rem;
  background-color: #e2c1c1;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  min-height: 100px;
}

/* Efectos hover */
.videos:hover,
.podcast:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
