.eventsSection {
  width: 100%;
  padding: 4rem 4rem;
  background-color: #f8f9fa;
}

.eventsContainer {
  max-width: auto;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

/* Estilos para pantallas pequeñas */
@media (max-width: 576px) {
  .eventsSection {
    padding: 2rem 1rem;
  }
}
