.eventsSection {
  width: 100%;
  padding: 4rem 4rem;
  background-color: #f8f9fa;
}

.eventsContainer {
  max-width: auto;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.eventCard {
  background: white;
  padding: 2rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  gap: 1rem;
  transition: transform 0.2s ease;
  position: relative;
}

.eventCard:hover {
  transform: translateY(-4px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.eventImageContainer {
  flex: 0 0 250px;
  display: flex;
  align-items: flex-start; /* Alinea la imagen al inicio del contenedor */
}

.eventImage {
  width: 100%;
  height: auto; /* Elimina la altura fija */
  max-height: 300px; /* Establece una altura máxima opcional */
  object-fit: contain; /* Cambia a 'contain' para mostrar la imagen completa */
}

.eventContent {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.name {
  font-size: 1.5rem;
  font-weight: bold;
  color: #2c3e50;
  font-family: sans-serif;
}

.description {
  color: #666;
  font-size: 1rem;
  line-height: 1.5;
  font-family: sans-serif;
}

.contactInfo {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: #555;
  font-size: 0.95rem;
  font-family: sans-serif;
}

.linkPhone,
.linkWeb {
  cursor: pointer;
}

.contactItem {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  font-family: sans-serif;
}

.organizerInfo {
  margin-top: auto;
  padding: 0.3rem 1rem;
  background-color: #e4ccef;
  color: #333;
  border-radius: 20px;
  font-size: 0.9rem;
  width: fit-content;
  font-family: sans-serif;
  margin-bottom: 1rem;
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}

/* Estilos para pantallas medianas */
@media (max-width: 992px) {
  .eventCard {
    flex-direction: column;
  }

  .eventImageContainer {
    flex: 0 0 auto;
    width: 100%; /* Ocupa todo el ancho en móvil */
  }

  .eventImage {
    max-height: 400px; /* Permite una altura máxima mayor en móvil */
  }
}

/* Estilos para pantallas pequeñas */
@media (max-width: 576px) {
  .eventsSection {
    padding: 2rem 1rem;
  }

  .eventCard {
    padding: 1.5rem;
  }
}
