.textContent {
  background-color: white;
  border: 3px solid #b97fd1;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center; /* Centra horizontalmente el contenido */
  justify-content: center; /* Centra verticalmente el contenido */
  width: 60%;
  height: auto; /* Ajusta la altura según lo que necesites */
  text-align: center;
  margin: auto;
  line-height: 0.8;
  padding: 25px;
}

.textTop {
  font-family: "Extenda", sans-serif;
  font-size: 8rem;
  font-weight: bold;
  color: black;
  margin: 0;
  width: 100%;
  text-align: center; /* Centra el texto */
}

.textBottom {
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  color: black;
  margin: 0;
  text-align: right; /* Centra el texto */
  width: 77%;
}
