/* Contenedor principal de la sección */
.sheetsSection {
  width: 100%;
  background-color: #f8f9fa;
  padding: 1rem 3rem 2rem 3rem;
}

/* Contenedor de las tarjetas con márgenes laterales */
.cardsContainer {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 3rem;
  display: flex;
  justify-content: space-between;
  gap: 3rem; /* Espaciado entre tarjetas */
}

.cardWrapper {
  flex: 1;
}

.cardWrapper.animate .imageContainer {
  animation: slideUp 1.5s ease-out forwards;
  transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease,
    box-shadow 0.3s ease;
}

.cardWrapper.animate .imageContainer:hover {
  transform: translateY(-10px);
  transition: 0.3s;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

/* Estilos del enlace */
.buttonLink {
  text-decoration: none;
  color: inherit;
  flex: 1;
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease,
    box-shadow 0.3s ease;
}

/* Contenedor de cada tarjeta */
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.3s ease;
}

/* Efecto hover del boton */
.buttonLink:hover .textContainer {
  background-color: #cdcbcc;
  color: #ffffff;
  transform: translateY(-10px);
  transition: 0.3s;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

/* Contenedor de la imagen con borde gradiente */
.imageContainer {
  width: 100%;
  aspect-ratio: 1;
  border-radius: 15px;
  padding: 5px;
  background: linear-gradient(45deg, #a961c9, #ffffff);
  overflow: hidden;
  opacity: 0;
}

@keyframes slideUp {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Imagen dentro del contenedor */
.cardImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
}

/* Contenerdor de la imagen y el nombre de las páginas */
.flexTextContainer {
  display: flex;
  justify-content: center;
}

/* Contenedor del texto */
.textContainer {
  margin-top: 1rem;
  font-family: "Roboto", sans-serif;
  background-color: #e4e3e3;
  padding: 0.5rem 1.5rem;
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center; /* Centra horizontalmente */
  justify-content: center;
  transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease,
    box-shadow 0.3s ease;
}

/* Texto dentro del contenedor */
.textContainer p {
  margin: 0;
  font-size: 1rem;
  color: #333;
}

.icon {
  width: 50px;
  height: 50px;
  margin: 5px;
}

/* Media query para responsividad */
@media (max-width: 768px) {
  .cardsContainer {
    flex-direction: column;
    align-items: center;
  }

  .textContainer {
    flex-direction: column;
    align-items: center;
  }

  .buttonLink {
    width: 100%;
    max-width: 300px;
  }
}
