.podcast {
  border-radius: 12px;
}

/* Elementos de video */
.item {
  display: flex; /* Alineación horizontal del contenido */
  flex-direction: column; /* Coloca imagen y texto en fila */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Hover para los elementos de video y podcast */
.item:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.iframe {
  width: 100%;
  border: none;
}

.youtube .iframe {
  height: 280px;
}

.podcast .iframe {
  height: 152px;
}

.textContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
}

.title {
  font-size: 1.2rem;
  color: #1e1d1d;
  margin-bottom: 0.3rem;
  font-weight: bold;
}

.description {
  font-size: 0.9rem;
  color: #555;
  margin-bottom: 0.3rem;
}
