.introSection {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.container {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.textContainer {
  position: absolute;
  top: 20%;
  left: 40%;
  transform: translate(-35%, -40%);
  z-index: 1;
  display: flex;
  flex-direction: column;
  line-height: 0.9;
}

/* Texto superior */
.textTop {
  font-family: "Extenda", sans-serif;
  font-size: 4rem;
  color: #7c7b81;
  font-weight: bold;
  position: relative;
  animation: moveLeft 3s ease-in-out forwards;
  opacity: 0;
  white-space: nowrap;
}

/* Texto inferior */
.textBottom {
  font-family: "Extenda", sans-serif;
  font-size: 4rem;
  color: #7c7b81;
  animation: moveRight 3s ease-in-out forwards;
  opacity: 0;
  position: relative;
  left: 230px;
}

@keyframes moveRight {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveLeft {
  from {
    opacity: 0;
    transform: translateX(100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.buttonContainer {
  position: absolute; /* Posición absoluta dentro del contenedor principal */
  bottom: 0; /* Ajusta la distancia desde la parte superior*/
  left: 50%; /* Centra horizontalmente */
  transform: translateX(-50%); /* Compensa el centro */
  display: flex;
  z-index: 2;
}

/* Botón de sección */
.sectionToggle {
  margin-top: rem;
  background-color: rgba(228, 227, 227, 0.4);
  padding: rem 0.6rem;
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 150px;
  cursor: pointer;
}

.titleSectionToggle {
  font-size: 1.5rem;
  font-weight: 700;
  color: #2d3748;
  font-family: "Roboto", sans-serif;
}

.icon {
  width: 30px;
  height: 30px;
  margin: 2px;
}

.sectionToggle:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.sectionToggle.active {
  background-color: #cdcbcc;
}
