/* Clases Genéricas */
.layoutBox {
  max-inline-size: 1250px; /* Limita el ancho máximo para mayor control */
  margin-inline: auto;
}
/* Fin clases genéricas */

.introSection {
  width: 100%;
  padding: 1rem 0;
  display: flex;
  justify-content: center;
}

.textContainer {
  width: 75%;
  padding: 3em 2em;
  background-color: #e4ccef;
  padding: 3rem;         
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); 
  position: relative;
  overflow: visible;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;           /* Aumentado el espacio entre párrafos */
  align-items: center;   /* Centra los párrafos horizontalmente */
}

/* Estilos del texto*/
.text {
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;  
  width: 100%;
  line-height: 1.5;
  color: #000000;
  text-align: center;    
  margin: 0;  
}

.span {
  font-weight: bold;
  color: #b63ee6;
  border-bottom: 1px transparent;
}

.icon {
  position: absolute; /* Posiciona el ícono de forma absoluta */
    bottom: -20px;      /* Hace que el ícono sobresalga por debajo del rectángulo */
    right: -20px;       /* Hace que el ícono sobresalga por la derecha */
    width: 70px;        /* Ancho del ícono */
    height: 70px;       /* Alto del ícono */
    z-index: 1; 
}
