@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Roboto:wght@400;500&display=swap");
/* Reset para usar con un html al tener ya unas propiedades definidas */

/* @font-face {
  font-family: "Extenda";
  src: url("./assets/fonts/extenda-30-deca.otf") format("opentype");
  font-weight: bold;
} */

:where(
    :not(html, iframe, canvas, img, svg, video, audio, path):not(svg, symbol *)
  ) {
  all: unset;
  display: revert;
}

li {
  list-style-type: none;
}
* {
  box-sizing: border-box;
}

/* Contenedor principal de la aplicación */
.app {
  background-color: white;
  min-height: 100vh;
}

/* Estilo de títulos principales */
h1 {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-size: 36px;
  color: #6495ed;
}

/* Estilo de subtítulos */
h2,
h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 24px;
  color: #333;
}

/* Estilo del texto general */
p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #444;
}
