.textContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  /* height: 130px; */
  text-align: center;
  margin: 60px auto;
}

.textTop {
  font-family: "Roboto", sans-serif;
  font-size: 5rem;
  font-weight: bold;
  position: relative;
  color: #34333b;
  margin: 0;
  width: 100%;
  text-align: center;
  opacity: 0; /* Inicialmente invisible */
  animation: moveLeft 3s ease-in-out forwards;
}

.textBottom {
  font-family: "Roboto", sans-serif;
  font-size: 1.8rem;
  color: #000000;
  opacity: 0; /* Inicialmente invisible */
  animation: moveRight 3s ease-in-out forwards;
}

.icon {
  color: #a961c9;
}
@keyframes moveRight {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveLeft {
  from {
    opacity: 0;
    transform: translateX(100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.circlesContainer {
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin: 30px auto;
  gap: 15px;
}

.circle {
  background-color: #e9e6e6;
  border: 2px solid #ffffff;
  border-radius: 50%;
  width: 180px;
  height: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 25px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: 0.5s transform;
}

.circle:hover {
  transform: translateY(-10px);
}

.circleImage {
  width: 55px;
  height: 55px;
  margin-bottom: 3px;
  margin-top: 0px;
  border-radius: 10%;
}

.phoneNumber {
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  color: #34333b;
  margin: 5px 0;
  font-weight: bold;
  width: 100%;
  text-align: center;
}

.circleText {
  font-family: "Roboto", sans-serif;
  font-size: 0.7rem;
  color: #34333b;
  margin: 0;
  font-weight: bold;
  width: 100%;
  text-align: center;
}
